<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
      <h2>Conectando Huellas</h2>
      <h3>¡Bienvenido a nuestra comunidad {{name}}!</h3>
      <p>Confirma tu cuenta haciendo click
        <a target='_blank' href={{verificationUrl}}>aquí</a></p>
    </div>
  </body>
</html>